{% extends 'PiFrontBundle::Layout.html.twig' %}
{% block content %}
    <div class="gallery">
        <div class="container">
            <h3 class="agileits-title">Adopter</h3>
            <div class="gallery-agileinfo">
                <div class="col-sm-4 col-xs-6 w3gallery-grids">
                    <a href="{{ asset('images/g1.jpg') }}" class="imghvr-hinge-right figure">
                        <img src="{{ asset('images/g1.jpg') }}" alt="" title="Samm"/>
                        <div class="agile-figcaption">
                            <h4>Sam</h4>
                            <p>age : 3ans </p>
                            <p>poids : 3kg </p>
                            <p>race : mmmm </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-6 w3gallery-grids">
                    <a href="{{ asset('images/g2.jpg') }}" class="imghvr-hinge-right figure">
                        <img src="{{ asset('images/g2.jpg') }}" alt="" title="weiss"/>
                        <div class="agile-figcaption">
                            <h4>Age : 2ans </h4>
                            <p>Poids : 2kg</p>
                            <p>Race : mmmmm</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-6 w3gallery-grids">
                    <a href="{{ asset('images/g3.jpg') }}" class="imghvr-hinge-right figure">
                        <img src="{{ asset('images/g3.jpg') }}" alt="" title="Rex"/>
                        <div class="agile-figcaption">
                            <h4>Rex</h4>
                            <p>Age : 2 ans </p>
                            <p>Race : mmmmm </p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-6 w3gallery-grids">
                    <a href="{{ asset('images/g4.jpg') }}" class="imghvr-hinge-right figure">
                        <img src="{{ asset('images/g4.jpg') }}" alt="" title="loui"/>
                        <div class="agile-figcaption">
                            <h4>loui</h4>
                            <p>Age : 4 ans </p>
                            <p>Race : mmmmm</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-6 w3gallery-grids">
                    <a href="{{ asset('images/g5.jpg') }}" class="imghvr-hinge-right figure">
                        <img src="{{ asset('images/g5.jpg') }}" alt="" title="Minouch"/>
                        <div class="agile-figcaption">
                            <h4>Minouch</h4>
                            <p>Age : 3ans </p>
                            <p>Race : mmmmm</p>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4 col-xs-6 w3gallery-grids">
                    <a href="{{ asset('images/img1.jpg') }}" class="imghvr-hinge-right figure">
                        <img src="{{ asset('images/img1.jpg') }}" alt="" title="Rex"/>
                        <div class="agile-figcaption">
                            <h4>Rex</h4>
                            <p>Age : 3 ans </p>
                            <p> Race : mmmmmm</p>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>

            </div>
        </div>
    </div>






{% endblock %}